---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px; // 17
$base-font-weight: 300; //400
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2980b9; //#2a7ae2
$brand-color-light:lighten($brand-color, 50%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px; //800px

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)

@import
        // url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic),
        // url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic),
        "base",
        "layout",
        "syntax-highlighting"
;

/* HF */
strong {
    font-weight: 400;
}

img {
    margin-top: 25px;
}

figure.highlight {
    margin-top: 25px;
    margin-bottom: 25px;
}

img + em {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

ul.share-buttons {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 0;
}

ul.share-buttons li {
    display: inline;
}

ul.share-buttons li p {
    display: inline;
    margin-right: 20px;
    vertical-align: middle;
}

ul.share-buttons li a img {
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    line-height: 1.4;
    margin-left: 0;
    padding-left: 1.2em;
}

/* Home */
.home {
    margin: auto;
}

.main-heading {
    font-size: 40px;
    margin-left: -3px; // No Idea
    // margin-top: 20%;
}

.main-image {
    margin-top: 10%;
    margin-bottom: 2%;
    width: 15%;
    min-width: 120px;
    max-width: 200px;
    border-radius: 100%;
}

.main-page-titles {
    display: inline;
}

.main-link {
    margin-right: 10px;
    margin-left: 10px;
    display: inline;
}

.main-slash {
    display: inline;
}

.social-media-list li {
    display: inline;
    margin-right: 20px;
}

/* Pages */
.half-size-center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centering {
    text-align: center;
}

.profilepic {
    float: right;
    max-width: 25%;
    border-radius: 100%;
    margin-left: 30px;
}
@media only screen and (max-width: 735px) {
    .profilepic {
        float: none;
        max-width: 75%;
        border-radius: 100%;
        display: block;
        margin: 10px auto 30px;
    }
}
