---
layout: default
---

<div class="home">

    <!--<img src="assets/haytham.jpg" alt="Haytham Fayek" class="main-image">-->
    <h1 class="main-heading">{{ site.title }}</h1>
    <p> {{ site.description }}</p>

    <p>
        {% for my_page in site.pages %}
        {% if my_page.title %}
            <a class="page-link main-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
        {% endfor %}
    <p>

    <ul class="social-media-list">
        {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
        {% endif %}

        {% if site.linkedin_username %}
            <li>
              {% include icon-linkedin.html username=site.linkedin_username%}
            </li>
        {% endif %}

        {% if site.github_username %}
            <li>
                {% include icon-github.html username=site.github_username %}
            </li>
        {% endif %}

    </ul>

</div>
