---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-weight: 300; // 400

$brand-color:      #2980b9; // #808080
$brand-color-light:lighten($brand-color, 50%);

$content-width: 900px;

@import "minima";
@import "minima/syntax-highlighting";

/* Custom */

strong {
    font-weight: 600;
}

.centering {
    text-align: center;
}

table {
    width: 100%;
    max-width: 100%;
    background-color: #fdfdfd;
    border: 0 !important;
}

tr, td {
    background-color: #fdfdfd;
    border: 0 !important;
    padding: 0 !important;
}

td:nth-child(1) {  
    min-width: 80px;
    width: 10%;
    vertical-align: top;
}

/* Combo Home About */

.profilepicmain {
    float: right;
    max-width: 25%;
    border-radius: 100%;
    margin-left: 30px;
    margin-top: -70px;
}

.profilepicabout {
    border-radius: 20px;
}

/* Combo Home About Mobile */

@media only screen and (max-width: 735px) {
    .profilepicmain {
        float: none;
        max-width: 60%;
        border-radius: 100%;
        display: block;
        margin: 10px auto 30px;
    }
}

/* Posts */

img {
    margin-top: 25px;
}

img + em {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

figure.highlight {
    margin-top: 25px;
    margin-bottom: 25px;
}

.half-size-center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

pre,
code {
    background-color: $brand-color-light;
}
